/* Theme colours */
:root {
  /* Primary colours */
  --primary-black: #000000;
  --primary-purple: #431253;
  --primary-white: #FEFFFF;
  --primary-off-white: #f9f9f9;

  /* Secondary colours */
  --secondary-peach: #E19787;
  --secondary-yellow: #DABB7B;
  --secondary-brown: #4B3100;

  /* Purple colours */
  --color-purple-50: #fbf6fd;
  --color-purple-100: #f5ebfc;
  --color-purple-200: #ebd7f7;
  --color-purple-300: #ddb7f0;
  --color-purple-400: #c98be7;
  --color-purple-500: #b05ed7;
  --color-purple-600: #953fba;
  --color-purple-700: #7d319a;
  --color-purple-800: #682a7e;
  --color-purple-900: #582768;
  --color-purple-950: #431253;
}
